<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CandidatoES3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>controle.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/salvarCandidato</url-pattern>
    <url-pattern>/novoCandidato</url-pattern>
    <url-pattern>/consultar</url-pattern>
    <url-pattern>/main</url-pattern>
    <url-pattern>/editarCandidato</url-pattern>
    <url-pattern>/excluirCandidato</url-pattern>
    <url-pattern>/confirmarExcluir</url-pattern>
    <url-pattern>/select</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidatoVH</display-name>
    <servlet-name>CandidatoVH</servlet-name>
    <servlet-class>viewHelper.CandidatoVH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidatoVH</servlet-name>
    <url-pattern>/CandidatoVH</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidatoList</display-name>
    <servlet-name>CandidatoList</servlet-name>
    <servlet-class>viewHelper.CandidatoList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidatoList</servlet-name>
    <url-pattern>/CandidatoList</url-pattern>
  </servlet-mapping>
</web-app>